In [1]:
import pandas as pd

In [2]:
diag = pd.read_csv('./hosp/diagnoses_icd.csv.gz', compression='gzip')
diag_d = pd.read_csv('./hosp/d_icd_diagnoses.csv.gz', compression='gzip')

In [3]:
# Merge diagnosis data with icd definition
diag = diag.merge(diag_d, how='left', on='icd_code')
diag.long_title.value_counts().head(20)

Unspecified essential hypertension                                                                            81275
Other and unspecified hyperlipidemia                                                                          57076
Essential (primary) hypertension                                                                              53652
Hyperlipidemia, unspecified                                                                                   50353
Acute kidney failure, unspecified                                                                             44091
Personal history of nicotine dependence                                                                       40097
Esophageal reflux                                                                                             40062
Gastro-esophageal reflux disease without esophagitis                                                          35044
Diabetes mellitus without mention of complication, type II or unspecified type, not stated as uncontrolled    34103
Anemia, unspecified                                                                                           33740
Depressive disorder, not elsewhere classified                                                                 31032
Major depressive disorder, single episode, unspecified                                                        30101
Atrial fibrillation                                                                                           29418
Personal history of tobacco use                                                                               29333
Congestive heart failure, unspecified                                                                         28539
Coronary atherosclerosis of native coronary artery                                                            28125
Urinary tract infection, site not specified                                                                   27186
Encounter for immunization                                                                                    27021
Obesity, unspecified                                                                                          26594
Atherosclerotic heart disease of native coronary artery without angina pectoris                               26533
Name: long_title, dtype: int64

In [4]:
# Create target table that show whether a patient has had CHF diagnosis or not
diag['has_CHF']=diag['long_title']=='Congestive heart failure, unspecified'
diag.has_CHF.replace({False:0, True:1}, inplace=True)
subj_hasCHF = diag.groupby('subject_id').sum()['has_CHF'].agg(lambda x: 1 if x>0 else 0).reset_index()

In [13]:
# labs = pd.read_csv('./hosp/labevents.csv.gz', compression='gzip')

chunksize = 10 ** 7
counter=1
for chunk in pd.read_csv('./hosp/labevents.csv.gz', compression='gzip', chunksize=chunksize):
    if counter == 1:
        lab_events_1 = chunk
        counter+=1
        print('chunk 1 processed')
    elif counter == 2:
        lab_events_2 = chunk
        counter+=1
        print('chunk 2 processed')
    elif counter == 3:
        lab_events_3 = chunk
        counter+=1
        print('chunk 3 processed')
    elif counter == 4:
        lab_events_4 = chunk
        counter+=1
        print('chunk 4 processed')
    elif counter == 5:
        lab_events_5 = chunk
        counter+=1
        print('chunk 5 processed')

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (7,9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 1 processed
chunk 2 processed
chunk 3 processed

/Users/brandonryu/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (12) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

chunk 4 processed
chunk 5 processed

In [8]:
lab_events_1

,labevent_id,subject_id,hadm_id,specimen_id,itemid,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,30331194,12455438,24471620.0,6107018,51277,2151-05-06 04:45:00,2151-05-06 06:24:00,13.9,13.90,%,10.5,15.5,NaN,STAT,NaN
1,30331195,12455438,24471620.0,6107018,51279,2151-05-06 04:45:00,2151-05-06 06:24:00,3.55,3.55,m/uL,3.9,5.2,abnormal,STAT,NaN
2,30331196,12455438,24471620.0,6107018,51301,2151-05-06 04:45:00,2151-05-06 06:24:00,16.3,16.30,K/uL,4.0,10.0,abnormal,STAT,NaN
3,30331197,12455438,24471620.0,6107018,52167,2151-05-06 04:45:00,2151-05-06 06:24:00,46.7,46.70,fL,35.1,46.3,abnormal,STAT,NaN
4,30331199,12455438,24471620.0,70876201,50882,2151-05-06 04:45:00,2151-05-06 07:05:00,23,23.00,mEq/L,22.0,32.0,NaN,STAT,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,40380979,13258755,29015902.0,55258136,51275,2140-01-19 10:37:00,2140-01-19 12:05:00,141.7,141.70,sec,22.0,35.0,abnormal,STAT,___
999996,40380978,13258755,29015902.0,19050668,51275,2140-01-19 08:36:00,2140-01-19 09:58:00,112.2,112.20,sec,22.0,35.0,abnormal,STAT,___
999997,40381029,13258755,22638557.0,36244719,50971,2140-05-22 22:44:00,2140-05-22 23:57:00,4.5,4.50,mEq/L,3.3,5.1,NaN,STAT,NaN
999998,40381030,13258755,22638557.0,36244719,50983,2140-05-22 22:44:00,2140-05-22 23:57:00,139,139.00,mEq/L,133.0,145.0,NaN,STAT,NaN
999999,40381031,13258755,22638557.0,36244719,51006,2140-05-22 22:44:00,2140-05-22 23:57:00,44,44.00,mg/dL,6.0,20.0,abnormal,STAT,NaN

In [9]:
lab_d = pd.read_csv('./hosp/d_labitems.csv.gz', compression='gzip')

In [12]:
lab_d

,itemid,label,fluid,category,loinc_code
0,51898,,Other Body Fluid,Chemistry,NaN
1,51532,11-Deoxycorticosterone,Blood,Chemistry,NaN
2,51952,17-Hydroxycorticosteroids,Urine,Chemistry,NaN
3,51953,"17-Ketosteroids, Urine",Urine,Chemistry,NaN
4,52063,24 Hr,Blood,Hematology,NaN
...,...,...,...,...,...
1620,52012,"Zinc, Urine",Urine,Chemistry,NaN
1621,52415,ZZDUMMY,Urine,Hematology,NaN
1622,51769,NaN,Blood,Chemistry,NaN
1623,51950,NaN,Stool,Chemistry,NaN
1624,52369,NaN,Other Body Fluid,Hematology,NaN

## EDA questions:

* What are the most common diagnoses
    * Which disease do we want to investigate?
* What are the most common lab tests run for patients with/ wo CHF
    * Which labs should we use as features?
* What diagnoses are associated wtih CHF (co-morbidity)?
    * Can we use certain diagnosis as features? (coronary artery disease, high blood pressure, diabetes or obesity)
* How many times did patients visit the hospital before their first CHF diagnosis?
    * Justify the need for model
*